body{
    color: rgb(59, 81, 90);
    background-color: rgb(177, 255, 238);
}

.heading{
    width:80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color:rgb(5, 83, 102);
}